@model GalleryViewModel

@{
    bool selectable = true;
}
<link rel="stylesheet" href="~/css/GalleryStyle.css" />

<p>
    <button class="btn btn-primary collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Upload pictures
    </button>
</p>
<section class="collapse" id="collapseExample">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-controller="Gallery" asp-action="UploadFiles"
                      enctype="multipart/form-data" method="post">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">Upload</label>
                        <input type="file" multiple name="photos" class="form-control" id="inputGroupFile01" />
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

</section>




<h4>Your photos</h4>
<form asp-controller="Gallery" asp-action="AddToAlbum" enctype="multipart/form-data" method="post">
    <section id="PhotosSection">
        <div id="yourPhotos">
            <div id="lightgallery">

                @if (selectable)
                {
                    @foreach (var photo in Model.Photos)
                    {
                        <div id="photoContainer">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="selectedObjects" value="@photo.Id" id="flexCheckDefault">
                            </div>

                            <a href="/photos/@photo.PhotoName">
                                <img src="/photos/@photo.PhotoName" />
                            </a>
                        </div>

                    }
                }
                else
                {
                    @foreach (var photo in Model.Photos)
                    {
                        <a href="/photos/@photo.PhotoName">
                            <img src="/photos/@photo.PhotoName" />
                        </a>
                    }
                }
            </div>

        </div>
    </section>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>



<section id="albums">
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</section>



@section scripts {
    <script>
        var UploadFiles = function (e) {
            var files = e.target.files;
            console.log(files);
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }
            axios.post("/Gallery/UploadFiles", formData);
        }

    </script>

    <script src="~/lib/lightGallery/src/js/lightgallery.min.js"></script>
    <script src="~/lib/lightGallery/modules/lg-thumbnail.js"></script>
    <script src="~/lib/lightGallery/dist/js/lightgallery-all.min.js"></script>
    <script src="~/lib/lightGallery/lib/jquery.mousewheel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightgallery").lightGallery({
                thumbnail: true,
                rotate: true,
                selector: 'a'
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#aniimated-thumbnials').lightGallery({
                thumbnail: true
            });
        });
    </script>

}







